hr {color: red;}
p {margin-left: 40px;color: red;background-color: pink;padding: 20px;}
h1{color: blue;}
body {background-image: url("coffee.png");}
h3 {
  color: red;
  text-align: left;
  font-size: 8pt;
  }